.bg-light.header-img {
  background: rgb(99, 220, 251);
  background: linear-gradient(
    180deg,
    rgba(99, 220, 251, 1) 0%,
    rgba(99, 220, 251, 1) 40%,
    rgba(89, 192, 87, 1) 100%
  );
}
a {
  color: #222;
}
nav.bg-light,
.cardType {
  margin-bottom: 40px;
}
a:hover {
  text-decoration: none;
  color: #222;
}
ul {
  list-style: none;
  padding: 0;
}
li {
  float: left;
  margin-right: 5px;
  color: #fff;
  padding: 0 5px;
}
.new {
  list-style: unset;
  padding-left: 40px;
}
.new li {
  color: black;
  float: none;
}
.cardType .card-body .row {
  margin-bottom: 30px;
}
